@media (min-width: 1400px) and (max-width: 1600px) {
  .request {
    background-size: 14% !important; }
  .request-map {
    width: 40% !important; } }

@media (max-width: 1100px) {
  .interesting-question-content {
    margin-right: unset !important; } }

@media (max-width: 600px) {
  .news-info {
    width: 90% !important; } }

@media (min-width: 800px) and (max-width: 1100px) {
  .contacts-wrapper {
    width: 100% !important;
    justify-content: space-around !important; }
  .contact-logo img {
    width: 81px !important; }
  .contact-info {
    font-size: 14px !important; }
  .contacts-details .contact-logo-info {
    margin: 0 !important; } }

@media (max-width: 500px) {
  .top {
    margin-bottom: 30px !important; }
  .contact-info {
    line-height: unset !important; }
  .contact-logo {
    margin-bottom: 22px !important; }
  .contact-info p {
    margin-bottom: 10px !important; }
  .contact-link {
    font-size: 13px !important;
    margin: auto !important; }
  .modal-header {
    padding: 50px 0 !important; }
  .modal {
    padding-top: 0 !important; }
  .modal-content {
    margin: 0 !important; }
  .modal-btn button {
    padding: 25px 0 23px 0 !important;
    max-width: 271px !important;
    width: 100% !important; }
  .modal-close {
    display: block !important;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 30px; }
  .top-content .box {
    width: 80% !important; }
  .news-content-title p {
    text-align: center !important; } }

@media (min-width: 320px) and (max-width: 800px) {
  .contacts-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95% !important; }
  .contacts-wrapper {
    flex-direction: column !important;
    justify-content: center !important; }
  .contact-logo {
    margin-right: 0 !important;
    text-align: center !important; }
  .contact-logo-info {
    margin-right: 0 !important;
    display: flex;
    flex-direction: column !important;
    align-items: initial !important; }
  .contact-phone .phone-number span {
    display: flex !important;
    flex-wrap: wrap !important;
    line-height: 30px !important; }
  .contact-phone .phone-number {
    margin-bottom: 30px !important;
    line-height: unset !important; }
  .contact-phone .phone-title {
    line-height: 37px !important; } }

@media (min-width: 800px) and (max-width: 1300px) {
  .request-info {
    margin-right: 50px !important; } }

@media (min-width: 700px) and (max-width: 900px) {
  .top-content .box {
    height: 100px; }
  .top-content img {
    height: 100% !important;
    width: 65px !important; } }

@media (max-width: 700px) {
  .top-content .box {
    max-width: unset !important;
    width: 57% !important;
    margin-bottom: 30px;
    height: 100px; }
  .top-content {
    flex-wrap: wrap;
    justify-content: center; }
  .top-content img {
    width: 64px !important;
    height: 100% !important; }
  .image-wrapp {
    display: flex;
    justify-content: flex-end; } }

@media (min-width: 490px) and (max-width: 670px) {
  .phone-nav a {
    font-size: 22px !important; }
  .phone-nav li {
    padding: 3px !important; } }

@media (min-width: 320px) and (max-width: 490px) {
  .phone-nav a {
    font-size: 19px !important; }
  .phone-nav li {
    padding: 3px !important; } }

@media (max-width: 900px) {
  .topical-issues .interesting-question-content {
    width: 97% !important;
    margin-bottom: 22px; }
  .topical-issues .topical-content {
    justify-content: center !important;
    flex-wrap: wrap; }
  .topical-issues .address-content {
    width: 97% !important;
    max-width: unset !important; } }

@media (max-width: 420px) {
  .input-field {
    width: 100% !important; } }

@media (min-width: 320px) and (max-width: 408px) {
  .request-child {
    transform: translate(29%, -50%) rotate(45deg) !important; } }

@media (min-width: 408px) and (max-width: 729px) {
  .request-child {
    transform: translate(-3%, -50%) rotate(45deg) !important; } }

@media (max-width: 650px) {
  .interest-item {
    padding: 12px 0 12px 22px;
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 7px;
    padding-left: 0 !important; }
  .variants-info {
    line-height: 14px !important;
    text-align: center !important; }
  .topical-issues .interesting-variants {
    flex-wrap: wrap; }
  .topical-issues .input-title {
    flex: 1;
    line-height: 1.5 !important; }
  .topical-issues #form-container > div {
    margin-bottom: 12px; } }

@media (min-width: 700px) and (max-width: 1100px) {
  .news-content {
    width: 92% !important; } }

@media (min-width: 538px) and (max-width: 700px) {
  .news-content {
    width: 85% !important; } }

@media (min-width: 320px) and (max-width: 537px) {
  .news-content {
    width: 80% !important; } }

@media (min-width: 320px) and (max-width: 1100px) {
  .request-map {
    padding-bottom: 30px !important;
    padding-top: 0 !important;
    max-width: 630px !important; }
  .request-content {
    flex-direction: column !important;
    width: 80% !important; } }

@media (min-width: 320px) and (max-width: 1100px) {
  .hamburger-menu {
    display: block !important; }
  .desktop-nav {
    display: none !important; }
  .phone-info {
    display: none !important; }
  .phone-nav {
    margin-bottom: 20px; }
    .phone-nav li {
      list-style: none;
      padding: 8px; }
    .phone-nav a {
      text-decoration: none;
      font-weight: 400;
      color: #000000;
      font-family: 'Myriad Pro',sans-serif;
      font-size: 28px;
      text-transform: uppercase; }
  .mobile-info .phone {
    margin-bottom: 14px;
    color: rgba(18, 18, 18, 0.53);
    font-family: "Myriad Pro", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 10.08px; }
  .header-container {
    width: 80% !important;
    margin: 0 auto !important; }
  .topical-issues-title {
    text-align: center !important; } }

@media (min-width: 320px) and (max-width: 1366px) {
  .request {
    background-image: none !important; } }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-SemiboldCond.eot");
  src: url("../fonts/MyriadPro-SemiboldCond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-SemiboldCond.woff2") format("woff2"), url("../fonts/MyriadPro-SemiboldCond.woff") format("woff"), url("../fonts/MyriadPro-SemiboldCond.ttf") format("truetype"), url("../fonts/MyriadPro-SemiboldCond.svg#MyriadPro-SemiboldCond") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Bold.eot");
  src: url("../fonts/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Bold.woff2") format("woff2"), url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/MyriadPro-Bold.svg#MyriadPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

/*general*/
* {
  margin: 0;
  padding: 0; }

.main-wrapper {
  width: 100%;
  margin: 0 auto; }

.bu {
  background: #b6c930 !important;
  color: white !important; }

.body-active {
  overflow: hidden; }

/*general-end*/
/*header*/
header {
  width: 100%;
  height: 160px;
  background: url("../images/original.png");
  background-size: 82%;
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 128%;
  background-position-y: 43%;
  padding-bottom: 8px; }
  header .header-container {
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1125px;
    margin: 0 auto;
    height: 100%; }
  header .desktop-nav .main-nav {
    display: flex; }
  header .desktop-nav li {
    list-style: none;
    padding: 8px; }
  header .desktop-nav a {
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    font-family: 'Myriad Pro',sans-serif;
    font-size: 14px;
    line-height: 37px;
    text-transform: uppercase; }
  header .phone {
    margin-bottom: 6px;
    color: rgba(18, 18, 18, 0.53);
    font-family: "Myriad Pro", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 10.08px; }
  header .phone-number {
    color: #000000;
    font-family: "Myriad Pro", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 32.55px; }
  header .mobile-version {
    display: none; }
  header .mobile-version.open {
    position: fixed;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    text-align: center !important;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(#FFFFF0, #FFFAFA, #FFFAF0);
    font-size: 40px;
    padding: 30px !important;
    box-sizing: border-box;
    z-index: 90000;
    height: 100vh; }
  header .mobile-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 35px;
    color: #000000; }
  header .hamburger-menu {
    display: none; }
  header .hamburger-menu-line {
    height: 3px;
    width: 40px;
    background: #000000;
    display: block;
    margin: 5px 0;
    transition: all 0.8s; }
  header .hamburger-menu.open {
    position: fixed; }
  header .hamburger-menu.open .hamburger-menu-line:first-child {
    transform: translate(0, 7px) rotate(45deg); }
  header .hamburger-menu.open .hamburger-menu-line:nth-child(2) {
    display: none; }
  header .hamburger-menu.open .hamburger-menu-line:last-child {
    transform: rotate(-45deg); }

/*header-end*/
/*main*/
/*top*/
.top {
  width: 100%;
  margin-bottom: 80px; }

.box a {
  text-decoration: none; }

.top-content {
  max-width: 1125px;
  margin: 0 auto;
  display: flex;
  width: 97%; }

.orange-online {
  max-width: 33%;
  width: 375px;
  height: 147px;
  box-shadow: 3px 7px 40px 1px rgba(0, 1, 5, 0.31);
  background-color: #e3a416;
  display: flex;
  justify-content: space-between; }

.online-services {
  padding-left: 36px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "Myriad Pro",sans-serif;
  font-size: 18px;
  line-height: 37px;
  text-transform: uppercase; }

.online-image img {
  width: 106px;
  height: 147px; }

.blue-contacts {
  max-width: 33%;
  width: 375px;
  height: 147px;
  background-color: #b2d8f6;
  display: flex;
  justify-content: space-between; }

.contacts {
  padding-left: 36px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "Myriad Pro",sans-serif;
  font-size: 18px;
  line-height: 37px;
  text-transform: uppercase; }

.green-application {
  max-width: 33%;
  width: 375px;
  height: 147px;
  background-color: #b6c930;
  display: flex;
  justify-content: space-between; }

.application {
  padding-left: 36px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "Myriad Pro",sans-serif;
  font-size: 18px;
  line-height: 37px;
  text-transform: uppercase; }

/*top-end*/
/*topical-issues*/
.topical-issues {
  width: 100%;
  margin-bottom: 54px; }
  .topical-issues .topical-wrapper {
    max-width: 1125px;
    margin: 0 auto; }
  .topical-issues .topical-issues-title {
    color: #000000;
    font-family: "Myriad Pro",sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 37px;
    text-transform: uppercase; }
  .topical-issues .topical-content {
    padding-top: 59px;
    display: flex;
    justify-content: space-around; }
  .topical-issues .interesting-question-content {
    width: 60%;
    max-width: 800px;
    margin-right: 73px; }
  .topical-issues .interesting-num {
    opacity: 0.19;
    color: #acacac;
    font-family: "Myriad Pro",sans-serif;
    font-size: 40px;
    line-height: 61.01px;
    text-transform: uppercase;
    margin-right: 5px; }
  .topical-issues .interesting-questions-title {
    color: #000000;
    font-family: "Myriad Pro",sans-serif;
    font-size: 21px;
    font-weight: 800;
    line-height: 37px; }
  .topical-issues .interesting-line {
    width: 100%;
    margin-bottom: 20px;
    height: 2px;
    background-color: #acacac; }
  .topical-issues .interesting-variants {
    width: 100%;
    display: flex;
    margin-bottom: 30px; }
  .topical-issues .interest-item {
    border: 2px solid #acacac;
    padding: 18px 0 18px 29px;
    text-align: left;
    color: #404040;
    width: 170px;
    font-family: "Myriad Pro",sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase; }
  .topical-issues .address-content {
    width: 36%;
    max-width: 356px; }
  .topical-issues .form-container.active-form {
    display: block !important; }
  .topical-issues .form-container {
    display: none; }
  .topical-issues .form-container > div {
    display: flex;
    align-items: center; }
  .topical-issues .form-container label {
    width: 18px;
    height: 18px;
    border: 2px solid #acacac;
    border-radius: 2px;
    position: relative;
    transition: background-color 0.4s;
    margin-right: 15px; }
  .topical-issues .form-container label:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 10px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transform: rotateZ(20deg) scale(2);
    transition: all 0.4s; }
  .topical-issues .form-container > div > input:checked ~ label {
    background-color: #e3a416;
    border: 2px solid #e3a416; }
  .topical-issues .form-container > div > input:checked ~ label::after {
    opacity: 1;
    transform: rotateZ(43deg) scale(1); }
  .topical-issues .input-title {
    opacity: 0.80;
    color: #000000;
    font-family: "Myriad Pro",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.35px; }
  .topical-issues .address-title {
    color: #000000;
    font-family: "Myriad Pro",sans-serif;
    font-size: 21px;
    font-weight: 800;
    line-height: 37px; }
  .topical-issues .address-num {
    opacity: 0.19;
    color: #acacac;
    font-family: "Myriad Pro",sans-serif;
    font-size: 40px;
    line-height: 61.01px;
    text-transform: uppercase; }
  .topical-issues .address-line {
    width: 100%;
    height: 2px;
    background: #acacac;
    margin-bottom: 20px; }
  .topical-issues .address-info {
    color: #000000;
    font-family: "Myriad Pro",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.4px; }
  .topical-issues .address-city {
    color: rgba(0, 0, 0, 0.79) !important;
    font-family: "Myriad Pro",sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    border: none;
    border-bottom: 1px solid #ababab;
    outline: none;
    width: 100%; }
  .topical-issues #street {
    padding: 6px 0; }
  .topical-issues #city {
    padding: 4px 0; }
  .topical-issues #building {
    padding: 9px 0; }
  .topical-issues .input-container {
    margin-bottom: 23px; }
  .topical-issues .address-city::placeholder {
    opacity: 0.79 !important;
    color: #000000 !important; }
  .topical-issues .input-field1 {
    width: 133px;
    box-sizing: border-box; }
  .topical-issues .input-field2 {
    width: 201px;
    box-sizing: border-box; }
  .topical-issues .input-field3 {
    width: 51px;
    box-sizing: border-box; }
  .topical-issues .information {
    padding-top: 10px; }
  .topical-issues .information p {
    opacity: 0.40;
    color: #000000;
    font-family: "Myriad Pro",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; }

/*topical-issues-end*/
/*request*/
.request {
  width: 100%;
  box-shadow: inset 1px 7px 38px 1px #00040712;
  background-color: #f6f6f6;
  background-image: url("../images/4.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 16%;
  margin-bottom: 42px; }
  .request .request-content {
    display: flex;
    align-items: center;
    max-width: 1125px;
    margin: 0 auto; }
  .request .request-info {
    padding: 66px 0; }
  .request .request-map {
    padding: 110px 0 42px 0;
    max-width: 548px;
    width: 100%; }
  .request .request-map iframe {
    width: 100%; }
  .request .request-line {
    width: 100%;
    height: 2px;
    max-width: 1125px;
    background: #c9c9c9;
    margin: 0 auto;
    position: relative; }
  .request .request-child {
    width: 21px;
    height: 21px;
    position: absolute;
    border: 2px solid #c9c9c9;
    border-left: 2px transparent;
    border-top: 2px transparent;
    transform: translate(-50%, -50%) rotate(45deg);
    left: 0;
    right: 0;
    top: 2px;
    margin: auto;
    background: #ffffff; }
  .request .request-gray {
    font-family: "Myriad Pro", sans-serif;
    font-weight: 700;
    line-height: 33px;
    color: #7d7d7d;
    font-size: 18px; }
  .request .request-info-title p {
    font-family: "Myriad Pro", sans-serif;
    font-weight: bold;
    line-height: 33px;
    color: #000000;
    font-size: 21px; }
  .request .request-info-detail-gray {
    font-family: "Myriad Pro", sans-serif;
    opacity: 0.40;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.4px; }
  .request .request-details {
    font-family: "Myriad Pro", sans-serif;
    color: #000000;
    letter-spacing: 0.35px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; }
  .request .request-info > div {
    padding-top: 10px; }

/*request-end*/
/*news*/
.news {
  width: 100%;
  margin-bottom: 66px; }
  .news .news-content {
    max-width: 1125px;
    margin: 0 auto; }
  .news .news-content-title p {
    color: #000000;
    font-family: "Myriad Pro",sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 37px;
    text-transform: uppercase; }
  .news .swiper-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    margin-bottom: 40px; }
  .news .swiper-wrapper > div {
    width: 20%;
    border-left: 2px solid #aaaaaa; }
  .news .swiper-slide p {
    padding-left: 16px; }
  .news .news-info {
    color: #000000;
    font-family: "Myriad Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
    position: relative;
    top: -8px;
    width: 210px; }
  .news .news-date {
    opacity: 0.50;
    color: #000000;
    font-family: "Myriad Pro",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 4px;
    position: relative;
    bottom: -6px; }
  .news .swiper-button-prev {
    border: none;
    background: none;
    outline: none;
    color: #b6c930;
    top: 0;
    left: 0;
    z-index: 111; }
  .news .swiper-button-next {
    border: none;
    background: none;
    color: #b6c930;
    top: 0;
    outline: none;
    right: 0;
    z-index: 222; }
  .news .swiper-button-next:after, .news .swiper-button-prev:after {
    font-size: 24px !important; }

/*news-end*/
/*contacts-details*/
.contacts-details {
  width: 100%;
  background-color: #2d2d2d; }
  .contacts-details .contacts-content {
    max-width: 1125px;
    margin: 0 auto;
    padding-top: 74px;
    padding-bottom: 80px; }
  .contacts-details .contacts-wrapper {
    display: flex;
    justify-content: space-between; }
  .contacts-details .contact-logo-info {
    display: flex;
    align-items: center;
    margin-right: 276px; }
  .contacts-details .contact-logo {
    margin-right: 67px; }
  .contacts-details .contact-info {
    color: #ffffff;
    font-family: "Myriad Pro",sans-serif;
    font-size: 17.5px;
    font-weight: 400;
    line-height: 37px; }
  .contacts-details .contact-info {
    flex: 1; }
  .contacts-details .phone-title {
    opacity: 0.52;
    color: #ffffff;
    font-family: "Myriad Pro",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 19.85px; }
  .contacts-details .contact-phone .phone-number {
    color: #ffffff;
    font-family: "Myriad Pro",sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 64.07px;
    margin-bottom: 10px; }
  .contacts-details .contact-phone .phone-number span:first-child {
    margin-right: 7px; }
  .contacts-details .contact-link {
    padding: 20.5px 35.5px;
    background-color: #b6c930;
    text-decoration: none;
    color: #ffffff;
    font-family: "Myriad Pro",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 19.85px;
    text-transform: uppercase; }

/*contacts-details-end*/
/*main-end*/
/*footer*/
footer {
  width: 100%;
  background: black; }
  footer .footer-content {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    display: flex;
    padding-top: 31px;
    padding-bottom: 29px;
    align-items: center; }
  footer .footer-small-title {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 20.36px;
    margin-right: 10px; }
  footer .footer-big-title {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24.07px;
    display: contents; }

/*footer-end*/
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 21px !important;
  border-radius: 0 !important;
  height: 4px !important; }

.swiper-pagination-bullet {
  background: #b2d8f6;
  opacity: 1; }

.swiper-pagination-bullet-active {
  background: #e3a416; }

.navigation {
  width: 179px !important;
  position: relative;
  height: 15px;
  margin: auto; }

/*modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 5000;
  padding-top: 36px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

/* Modal Content */
.modal-content {
  position: relative;
  margin: 15px auto;
  padding: 0;
  max-width: 466px;
  width: 100%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

.modal-header {
  background-color: #b2d8f6;
  padding: 50px 78px 50px 78px; }

.modal-title {
  color: #ffffff;
  font-family: "Myriad Pro",sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.modal-body {
  background-color: white;
  background-image: url("../images/modal-logo.png");
  background-position-x: center;
  background-position-y: 4px;
  background-repeat: no-repeat;
  padding: 34px 68px 37px 53px;
  text-align: center;
  box-sizing: border-box; }

.modal-inputs-container {
  margin-bottom: 22px; }

.second-modal-input {
  margin-bottom: 41px; }

.checkbox {
  width: 18px !important;
  height: 18px !important;
  border: 2px solid #acacac;
  border-radius: 2px;
  position: relative;
  transition: background-color 0.4s;
  margin-right: 20px;
  display: inline-block; }

.checkbox:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transform: rotateZ(20deg) scale(2);
  transition: all 0.4s; }

#inp22:checked ~ .checkbox {
  background-color: #e3a416;
  border: 2px solid #e3a416; }

#inp22:checked ~ .checkbox::after {
  opacity: 1;
  transform: rotateZ(43deg) scale(1); }

.third-modal-input {
  display: flex;
  margin-bottom: 67px; }

.modal-input-title {
  opacity: 0.80;
  color: #000000;
  font-family: "Myriad Pro",sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  flex: 1; }

.modal-form-text {
  color: #000000;
  font-family: "Myriad Pro",sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  letter-spacing: 0.4px; }

.modal-input-field input[type="text"] {
  border: none;
  width: 100%;
  padding-bottom: 6px;
  border-bottom: 1px solid #acacac;
  outline: none;
  max-width: 201px;
  text-align: center;
  color: rgba(0, 0, 0, 0.79) !important;
  font-family: "Myriad Pro",sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  background: none; }

.modal-input-field input[type="text"]::placeholder {
  color: #000000 !important;
  opacity: 0.79 !important; }

.modal-btn button {
  background-color: #b6c930;
  padding: 25px 52px 23px 51px;
  color: #ffffff;
  font-family: "Myriad Pro",sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 19.85px;
  text-transform: uppercase;
  border: none; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

.modal.open {
  display: block; }

.modal-close {
  display: none; }

/*modal-end*/
