@import "variables";
@import "legalMedia";
@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-SemiboldCond.eot');
  src: url('../fonts/MyriadPro-SemiboldCond.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-SemiboldCond.woff2') format('woff2'),
  url('../fonts/MyriadPro-SemiboldCond.woff') format('woff'),
  url('../fonts/MyriadPro-SemiboldCond.ttf') format('truetype'),
  url('../fonts/MyriadPro-SemiboldCond.svg#MyriadPro-SemiboldCond') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Bold.eot');
  src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
  url('../fonts/MyriadPro-Bold.woff') format('woff'),
  url('../fonts/MyriadPro-Bold.ttf') format('truetype'),
  url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*general*/
*{
  margin: 0;
  padding: 0;
}
.main-wrapper{
  width: 100%;
  margin: 0 auto;
}
.bu{
  background: #b6c930!important;
  color: white!important;

}
.active{
  transform: rotate(180deg)!important;
}
.body-active{
  overflow: hidden;
}
/*general-end*/

/*header*/
header{
  width: 100%;
  height: 160px;
  background: url("../images/original.png");
  background-size: 82%;
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 128%;
  background-position-y: 43%;
  padding-bottom: 8px;
  .header-container {
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1125px;
    margin: 0 auto;
    height: 100%;
    width: 97%;
  }
  .desktop-nav{
    .main-nav{
      display: flex;
    }
    li {
      list-style: none;
      padding: 8px;
    }
    a{
      text-decoration: none;
      font-weight: 400;
      color: $black;
      font-family: 'Myriad Pro',sans-serif;
      font-size: 14px;
      line-height: 37px;
      text-transform: uppercase;
    }
  }
  .phone{
    padding-bottom: 5px;
    color: $gray;
    font-family: "Myriad Pro", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 10.08px;
  }
  .phone-number{
    color: $black;
    font-family: "Myriad Pro", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 32.55px;
  }

  .mobile-version{
    display: none;
  }
  .mobile-version.open{
    position: fixed;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: column;
    text-align: center!important;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(#FFFFF0, #FFFAFA, #FFFAF0);
    font-size: 40px;
    padding: 30px!important;
    box-sizing: border-box;
    z-index: 90000;
    height: 100vh;
  }
  .mobile-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 35px;
    color: $black;
  }
  .hamburger-menu {
    display: none;

  }
  .hamburger-menu-line {
    height: 3px;
    width: 40px;
    background: $black;
    display: block;
    margin: 5px 0;
    transition: all 0.8s;
  }
  .hamburger-menu.open{
    position: fixed;

  }
  .hamburger-menu.open .hamburger-menu-line:first-child {
    transform: translate(0, 7px) rotate(45deg);
  }
  .hamburger-menu.open .hamburger-menu-line:nth-child(2) {
    display: none;
  }
  .hamburger-menu.open .hamburger-menu-line:last-child {
    transform: rotate(-45deg);
  }
}
/*header-end*/
/*main*/
/*top*/
.top{
  width: 100%;
  margin-bottom: 80px;
}
.box a {
  text-decoration: none;
}

.top-content{
  max-width: 1125px;
  margin: 0 auto;
  display: flex;
  width: 97%;
}
.orange-online{
  max-width: 33%;
  width: 375px;
  height: 147px;
  box-shadow: 3px 7px 40px 1px rgba(0, 1, 5, 0.31);
  background-color: $section-color1;
  display: flex;
  justify-content: space-between;
}
.online-services{
  padding-left: 36px;
  display: flex;
  align-items: center;
  color: $white;
  font-family: "Myriad Pro",sans-serif;
  font-size: 18px;
  font-weight: map_get($font-weights,700);
  line-height: 37px;
  text-transform: uppercase;
}
.online-image img{
  width: 106px;
  height: 147px;
}
.blue-contacts{
  max-width: 33%;
  width: 375px;
  height: 147px;
  background-color: $section-color2;
  display: flex;
  justify-content: space-between;

}
.contacts{
  padding-left: 36px;
  display: flex;
  align-items: center;
  color: $white;
  font-family: "Myriad Pro",sans-serif;
  font-size: 18px;
  font-weight: map_get($font-weights,700);
  line-height: 37px;
  text-transform: uppercase;
}
.green-application{
  max-width: 33%;
  width: 375px;
  height: 147px;
  background-color: $section-color3;
  display: flex;
  justify-content: space-between;
}
.application{
  padding-left: 36px;
  display: flex;
  align-items: center;
  color: $white;
  font-family: "Myriad Pro",sans-serif;
  font-size: 18px;
  font-weight: map_get($font-weights,700);
  line-height: 37px;
  text-transform: uppercase;
}
/*top-end*/
/*legal*/
.legal {
  width: 100%;
  margin-bottom: 50px;
  .legal-content {
    width: 97%;
    max-width: 1125px;
    margin: 0 auto;
  }
  .legal-small-title{
    margin-bottom: 29px;
  }
  .legal-small-title a {
    opacity: 0.55;
    color: $black;
    font-family: 'Myriad Pro',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.35px;
    text-decoration: none;
  }
  .legal-big-title {
    margin-bottom: 73px;
    color: $black;
    font-family: 'Myriad Pro',sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 37px;
    text-transform: uppercase;
  }
  .legal-items-container {
    display: flex;
    justify-content: space-between;
  }
  .legal-item.big {
      margin-right: 20px;
      max-width: 623px;
      width: 100%;

  }
  .legal-bigItem-title {
    color: $black;
    font-family: 'Myriad Pro',sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 28px;
  }
  .legal-line {
    background-color: #000000;
    opacity: 0.2;
    width: 94%;
    height: 2px;
    margin-bottom: 40px;
  }
  .legal-questions {
    color: #0f0f0f;
    font-family: 'Myriad Pro',sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    margin-bottom: 36px;
    cursor: pointer;
  }
  .legal-img-detail {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .legal-img {
    margin-right: 10px;
  }
  .legal-text {
    text-decoration: none;
    color: #454545;
    font-family: 'Myriad Pro',sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    line-height: 20px;
    &:hover{
      color: #838383;
      letter-spacing: 0.35px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .legal-issues-details p {
    color: #0f0f0f;
    font-family: 'Myriad Pro',sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    text-shadow: 0 0 1px black;
  }
  .choose-sign {
    margin-left: 5px;
  }
  .legal-smallItem-title {
    color: $black;
    font-family: 'Myriad Pro',sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 29px;
      margin-bottom: 23px;

  }
  .legal-general {
    color: #0f0f0f;
    font-family: 'Myriad Pro',sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    text-shadow: 0 0 1px black;
  }
  .search {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  .search-img {
    margin-right: 10px;
  }
  .legal-search-info {
    color: #454545;
    font-family: 'Myriad Pro',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.35px;
    text-decoration: none;
    &:hover{
      color:#838383;
      letter-spacing: 0.35px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .second {
    margin-bottom: 30px;
  }
  .legal-line-title {
    color: #000000;
    font-family: 'Myriad Pro',sans-serif;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 23px;
    line-height: 29px;
  }
  .legal-chevron {
    color: #0f0f0f;
    font-family: 'Myriad Pro',sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    text-shadow: 0 0 1px black;
    margin-bottom: 40px;
  }
  .legal-detail {
    opacity: 0.49;
    color: #0f0f0f;
    font-family: "Myriad Pro",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.3px;
  }
  .secondLine{
    width: 100%;
  }
  .legal-questions span {
    margin-left: 8px;
  }
  .legal-item.small {
    flex: 1;
  }
  .legal-questions-links {
    display: none;
  }

}
/*legal-end*/
/*gray*/
.gray {
  width: 100%;
  margin-bottom: 64px;
  .gray-background {
    box-shadow: inset 1px 7px 38px 1px rgba(0, 4, 7, 0.18);
    background-color: #e8e8e8;
    opacity: 0.39;
    width: 100%;
    height: 20px;
  }
}
/*gray-end*/
/*news*/
.news {
  width: 100%;
  margin-bottom: 66px;
  .news-content {
    max-width: 1125px;
    margin: 0 auto;
  }
  .news-content-title p {
    color: $black;
    font-family: "Myriad Pro",sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 37px;
    text-transform: uppercase;
  }
  .swiper-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    margin-bottom: 40px;
  }
  .swiper-wrapper > div {
    width: 20%;
    border-left: 2px solid #aaaaaa;
  }
  .swiper-slide p {
    padding-left: 16px;
  }
  .news-info {
    color: $black;
    font-family: "Myriad Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
    position: relative;
    top: -8px;
    width: 210px;
  }
  .news-date {
    opacity: 0.50;
    color: $black;
    font-family: "Myriad Pro",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 4px;
    position: relative;
    bottom: -6px;
  }

  .swiper-button-prev{
    border: none;
    background: none;
    outline: none;
    color: #b6c930;
    top: 0;
    left: 0;
    z-index: 111;
  }
  .swiper-button-next{
    border: none;
    background: none;
    color: #b6c930;
    top: 0;
    outline: none;
    right: 0;
    z-index: 222;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 24px!important;
  }
}
/*news-end*/
/*contacts-details*/
.contacts-details {
  width: 100%;
  background-color: #2d2d2d;
  .contacts-content {
    max-width: 1125px;
    margin: 0 auto;
    padding-top: 74px;
    padding-bottom: 80px;
    width: 97%;
  }
  .contacts-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .contact-logo-info {
    display: flex;
    align-items: center;
    margin-right: 276px;
  }
  .contact-logo{
    margin-right: 67px;
  }
  .contact-info {
    color: #ffffff;
    font-family: "Myriad Pro",sans-serif;
    font-size: 17.5px;
    font-weight: 400;
    line-height: 37px;
  }
  .contact-info{
    flex: 1;
  }
  .phone-title {
    opacity: 0.52;
    color: $white;
    font-family: "Myriad Pro",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 19.85px;
  }
 .contact-phone .phone-number {
    color: $white;
    font-family: "Myriad Pro",sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 64.07px;
    margin-bottom: 10px;
  }
  .contact-phone .phone-number span:first-child{
    margin-right: 7px;
  }

  .contact-link{
    padding: 20.5px 35.5px;
    background-color: #b6c930;
    text-decoration: none;
    color: $white;
    font-family: "Myriad Pro",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 19.85px;
    text-transform: uppercase;
  }
}
/*contacts-details-end*/
/*main-end*/
/*footer*/
footer {
  width: 100%;
  background: black;
  .footer-content {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    display: flex;
    padding-top: 31px;
    padding-bottom: 29px;
    align-items: center;
  }
  .footer-small-title {
    font-family: 'Roboto', sans-serif;
    color: $white;
    font-size: 13px;
    font-weight: 400;
    line-height: 20.36px;
    margin-right: 10px;
  }
  .footer-big-title {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24.07px;
    display: contents;
  }
}
/*footer-end*/


.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
  width: 21px!important;
  border-radius: 0!important;
  height: 4px!important;
}


.swiper-pagination-bullet{
  background: #b2d8f6;
  opacity: 1;
}

.swiper-pagination-bullet-active{
  background: #e3a416;
}

.navigation {
  width: 179px !important;
  position: relative;
  height: 15px;
  margin: auto;
}

/*modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 5000;
  padding-top: 36px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
/* Modal Content */
.modal-content {
  position: relative;
  margin: 15px auto;
  padding: 0;
  max-width: 466px;
  width: 100%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.modal-header {
  background-color: #b2d8f6;
  padding: 50px 78px 50px 78px;
}
.modal-title{
  color: #ffffff;
  font-family: "Myriad Pro",sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

}
.modal-body{
  background-color: white;
  background-image: url("../images/modal-logo.png");
  background-position-x: center;
  background-position-y: 4px;
  background-repeat: no-repeat;
  padding: 34px 68px 37px 53px;
  text-align: center;
  box-sizing: border-box;
}
.modal-inputs-container {
  margin-bottom: 22px;
}
.second-modal-input{
  margin-bottom: 41px;
}
.checkbox{
  width: 18px!important;
  height: 18px!important;
  border: 2px solid #acacac;
  border-radius: 2px;
  position: relative;
  transition: background-color 0.4s;
  margin-right: 20px;
  display: inline-block;
}
.checkbox:after{
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transform: rotateZ(20deg) scale(2);
  transition: all 0.4s;
}
#inp22:checked ~ .checkbox {
  background-color: #e3a416;
  border: 2px solid #e3a416;

}
#inp22:checked ~ .checkbox::after {
  opacity: 1;
  transform: rotateZ(43deg) scale(1);
}
.third-modal-input{
  display: flex;
  margin-bottom: 67px;

}
.modal-input-title {
  opacity: 0.80;
  color: #000000;
  font-family: "Myriad Pro",sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  flex: 1;
}
.modal-form-text {
  color: #000000;
  font-family: "Myriad Pro",sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  letter-spacing: 0.4px;
}
.modal-input-field input[type="text"]{
  border: none;
  width: 100%;
  padding-bottom: 6px;
  border-bottom: 1px solid #acacac;
  outline: none;
  max-width: 201px;
  text-align: center;
  color: rgba(0, 0, 0, 0.79) !important;
  font-family: "Myriad Pro",sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  background: none;

}
.modal-input-field input[type="text"]::placeholder{
  color: $black!important;
  opacity: 0.79!important;
}
.modal-btn button{
  background-color: #b6c930;
  padding: 25px 52px 23px 51px;
  color: #ffffff;
  font-family: "Myriad Pro",sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 19.85px;
  text-transform: uppercase;
  border: none;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.modal.open{
  display: block;
}
.modal-close{
  display: none;
}


/*modal-end*/