$section-color1:  #e3a416;
$section-color2:  #b2d8f6;
$section-color3:  #b6c930;
$black: #000000;
$white: #ffffff;
$gray: rgba(18, 18, 18, 0.53);
$font-weights:(
        "normal": 300,
        "regular": 500,
        "medium": 700,
        "bold": 800
);